{% extends 'base.html' %}
<!-- block.super - функция вывода стандарной надписи - вызов родительского метода-->
{% block title%}
{{category.title}} :: {{block.super}}
{% endblock %}

<!-- Блок sidebar -->
{% block sidebar %}
      <div class="col-md-3">
        <div class="list-group">
          {% for item in categories %}
          <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action">
            {{ item.title }}
          </a>
          {%endfor%}
        </div>
      </div>
{% endblock %}

<!-- Блок контент -->
{% block content %}
      <div class="col-md-9">
        {% for item in news %}
        <div class="card mb-3">
          <div class="card-header">
            <!-- {{ forloop.counter }} -->
            Категория: {{ item.category }}
          </div>
          <div class="card-body">
            <div class="media">
              {% if item.photo %}
              <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
              {% else %}
              <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="" class="mr-3">
              {% endif %}
              <div class="media-body">

                <!-- <h5 class="card-title">{{ item.title }}</h5> -->
                <!-- <h5 class="card-title {% cycle 'text-danger' 'text-success' %}"> -->
                <h5 class="card-title">
                  {{ item.title }}
                </h5>
                {%comment%}
                <!-- linebreaks - для перевода строк -->
                <!-- |safe - для отмены экранирования HTML строк -->
                {%endcomment%}
                <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:50}}</p>
                <a href="#" class="btn btn-primary">Read more...</a>
                <p></p>
              </div>
            </div>
            <div class="card-footer text-muted">
              <!-- {{item.created_at|date:"Y-m-d H:i:s"}} -->
              <!-- Для вывода времени - как давно создалась запись -->
              {{item.created_at|timesince}}

            </div>
          </div>
        </div>
        {%endfor%}
      </div>

{% endblock %}












































="anonymous"></script>
35Sk7lN" crossorigin="anonymous"></script>
b5D92v7s" crossorigin="anonymous"></script>


